In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [6]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [17]:
# What is the average age of men?
average_age_men = df[df["sex"]=="Male"]["age"].mean()
average_age_men

39.43354749885268

In [27]:
# What is the percentage of people who have a Bachelor's degree?
num_bachelors = len(df[df["education"] == "Bachelors"])
total_num = len(df)
percentage_bachelors = num_bachelors/total_num *100
percentage_bachelors

16.44605509658794

In [34]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df["education"].isin(["Bachelors","Masters","Doctorate"])]
lower_education = df[~df["education"].isin(["Bachelors","Masters","Doctorate"])]

# percentage with salary >50K
non_percentage_higher = len(higher_education[higher_education.salary == ">50K"])
higher_education_rich = non_percentage_higher / len (higher_education) * 100
higher_education_rich

46.535843011613935

In [36]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [39]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df["hours-per-week"] == min_work_hours]
rich_percentage = len(num_min_workers[num_min_workers.salary == ">50K"]) / len(num_min_workers) * 100
rich_percentage

10.0

In [43]:
# What country has the highest percentage of people that earn >50K?
country_count = df['native-country'].value_counts()
country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()

highest_earning_country = (country_rich_count / country_count * 100).idxmax()
highest_earning_country_percentage = (country_rich_count / country_count * 100).max()
highest_earning_country_percentage

41.86046511627907

In [45]:
 # Identify the most popular occupation for those who earn >50K in India.
people_of_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
occupation_counts = people_of_india['occupation'].value_counts()
top_IN_occupation = occupation_counts.idxmax()
top_IN_occupation

'Prof-specialty'